
.portal{
    bottom:0;
    margin-top: 65px;
    height:500px;
    text-align: center;
    color: white;
    animation: portal infinite 5s;
}
@keyframes portal {
    0%{
        background: rgb(2, 2, 29);
        color:rgb(255, 255, 255);
    }
    50%{
        background: navy;
        color:white;
    }
    100%{
        background: rgb(0, 0, 66);
        color: white;
    }
}
* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
}
body {
    background-color: #435165;
}
.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
   margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}
.ptal{
    top: 50px;
    animation: ptext 4s;
    animation-iteration-count:1;
    position: relative;
    margin-bottom: 0;
}
@keyframes ptext{
    0%{
        top: 50px;
    }
    50%{
        top: 100px;
    }
    70%{
        margin-left: 200px;
        top: 150px;
    }
    80%{
    margin-left:700px;
    }
    90%{
        top:50px;
    }
    100%{
        top:50px;
    }
}
h3{
    color:black;
    display: block;
}
@media screen and (min-width:320px) and (max-width:480px){
   .ptal{
    top: 80px;
    animation-name: black;
    }
    .portal{
        height:200px;
    }
}